{% extends "base.html.twig" %}
{% block body %}
   {% block title %} Liste des catégories {% endblock %}
    <h2>List des catégories :</h2>
        {% for category in categories %}
                <h4><a href="{{ path('category_show', {'categoryName': category.name})}}">{{ category.name }}</a></h4>
        {% endfor %}
    <a href="/">
        Retour à l'accueil
    </a>
{% endblock %}