{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saison{% endblock %}

{% block body %}
    <h1>Nouvelle Saison</h1>

    {{ include('season/_form.html.twig') }}
    <section class = "btn-section">
        <a class = "btn" href="{{ app.request.headers.get('referer') }}">Page Précédente</a>
    </section>
{% endblock %}
