<form method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Cette action est irréversible. Confirmer suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="delete-btn">SUPPRIMER SÉRIE</button>
</form>
