{% extends "base.html.twig" %}
{% block body %}
   <h1>Index</h1>
   {% for program in programs %}
      <div>
         <h2>
            {{program.title}}
         </h2>
         <img src="{{program.poster}}">
         <p>
            Catégorie : {{ program.category.name }}
         </p>
         <p>  
            {{program.summary}}
         </p>
      </div>
      {% else %}
        Aucune série trouvée.
   {% endfor %}}
    <a href="/">
        Retour à l'accueil
    </a>
{% endblock %}