// customize some Bootstrap variables
$theme-colors: (
  "primary": #00757b,
  "secondary": #f8c91b
);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

img {
  width:300px;
  height:auto;
}